<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>New Task</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}" />
    </head>
    <body>
        <div class="box">
            <form action="#" th:action="@{/addtask}" th:object="${task}" method="post">
                <div>
                    <div class="info-box">
                        <label class="-dueDate" for="details">Details</label>
                        <input class="input-details" type="text" th:field="*{details}" id="details" />
                        <span th:if="${#fields.hasErrors('details')}" th:errors="*{details}"></span>
                    </div>

                    <div class="info-box">
                        <label class="-dueDate" for="dueDate">Due Date</label>
                        <input class="input-details" type="date" th:field="*{dueDate}" id="dueDate" required="required" />
                        <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>
                    </div>

                    <input class="btn-grad" type="submit" value="Add Task" />
                </div>
            </form>
        </div>
    </body>
</html>
