<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}"/>

</head>
<body>


<form class ="card-form" action="#"
      th:action="@{/update/{id}(id=${task.id})}"
      th:object="${task}"
      method="post">
  <label for="details">Name</label>
  <input type="text" th:field="*{details}" id="details" placeholder="Details">
  <span th:if="${#fields.hasErrors('details')}" th:errors="*{details}"></span>
  <label for="dueDate">Due Date</label>
  <input type="date" th:field="*{dueDate}" id="dueDate" placeholder="Due Date">
  <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>
  <input type="submit" value="Update Task">
</span>

</form>

</body>
</html>